{% extends "layout.html" %}

{% block title %}
    Manage Cash
{% endblock %}

{% block main %}
<div class="container mt-4">
    <h2>Manage Cash</h2>
    <form action="/cash" method="post">
        <div class="form-group">
            <label for="action">Action</label>
            <select
                class="form-control mx-auto w-auto"
                id="action"
                name="action"
                autofocus>
                <option value="deposit">Deposit</option>
                <option value="withdrawal">Withdrawal</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <input
                class="form-control mx-auto w-auto"
                name="amount"
                type="text"
                placeholder="Amount (e.g., 100.00)">
        </div>
        <button class="btn btn-primary mt-2" type="submit">
            Submit
        </button>
    </form>
</div>
{% endblock %}
